<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{site.baseurl}}/">לא מדויק</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% for navitem in site.data.navigation.navbar %}
            {% if navitem.dropdown %}
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown{{forloop.index0}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{navitem.title}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown{{forloop.index0}}">
            {% for item in navitem.dropdown %}
            <a class="dropdown-item text-right" href="{{site.baseurl}}{{item.url}}">{{item.title}}</a>
            {% endfor %}
           </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{site.baseurl}}{{navitem.url}}">{{navitem.title}}</a>
            </li>
            {% endif %}
        {% endfor %}
      </ul>
      <form class="form-inline mt-2 mt-md-0" action="{{site.baseurl}}/post_list.html" method="get">
        <input class="form-control mr-sm-2" type="text" placeholder="חיפוש" aria-label="חיפוש" name="s">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">חיפוש</button>
      </form>
    </div>
  </nav>
</header>